.fleft{
    float: left;
}
.fright{
    float: right;
}
.margin-5{
    margin: 5px;
}
.margin-5-right{
    margin-right: 5px;
}
.margin-5-left{
    margin-left: 5px;
}
.margin-5-bottom{
    margin-bottom: 5px;
}
.margin-5-top{
    margin-bottom: 5px;
}
.center{
    text-align: center;
}
.wd-10-percent{
  width: 10%;
}
.wd-120-px{
  width: 120px;
}
.wd-170-px{
  width: 170px;
}
.rotate-40{
  transform: rotate(40deg);
}
.font-danger{
  color: #f86c6b;
  font-size: 1.5em;
}
.font-success{
  color: #4dbd74;
  font-size: 1.5em;
}
.font-warning{
  color: #ffc107;
  font-size: 1.5em;
}
input[type=search]{
  height: 25px !important
}
.dropdown-toggle{
  border: 1px solid #e4e7ea !important;
}